body {
    background-color: #333;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100svh;
}

.headerCopy {
    color: white;
}

.headerCopy > h1 {
    font-size: 55px;
}

.headerCopy > h2 {
    font-weight: 300;
}

#profileImage {
    width: 400px;
    height: auto;
    border-radius: 15px;
}

#sigLogo {
    height: auto;
    width: 50%;
    margin: auto;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    max-width: 750px;
    margin: 50px auto;
    flex-direction: column;
    background-color: white;
    padding: 15px 30px;
    border-radius: 25px;
}

.aboutContainer > p {
    margin-top: .5em;
    margin-bottom: .5em;
}

.contact {
    background-color: white;
    margin: 0 auto;
    width: 100%;
}

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.card {
    background-color: darkred;
    padding: 25px;
    margin: 50px;
    border-radius: 15px;
    color: white;
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.card > p > a {
    text-decoration: none;
    color: white;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-items: center;
}